name: Linting

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 0"
jobs:
  linting:
    name: Linting
    env:
      UV_PROJECT_ENVIRONMENT: .venv
      UV_PYTHON: "3.12"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: uv sync --group dev

      - name: Run Linting
        run: uv run poe lint
