name: Typing

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 0"

jobs:
  typing:
    name: Typing
    env:
      UV_PROJECT_ENVIRONMENT: .venv
      UV_PYTHON: "3.12"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v1
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install Dependencies
        run: uv sync --frozen --group dev
      - name: Run Type Checking
        run: uv run poe type
